.createList-content {
    margin: 0 0 3rem 3rem;

}

.list-title{
    text-decoration: underline;
}


.add-town-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 400px;
}

.create-list{
    display: flex;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.title-label{
    font-weight: bold;
    margin-right: 42px;
}
.title-input{
    width: 200px;
    margin-left: 5px;;
}

.create-button{
    width: 140px;
    height: 4vh;
    border: 1px solid #2ac0cc;
    border-radius: 40px;
    margin-top: 30px;
    font-weight: bold;
    background-color: #fabb3a;
}

.see-list{
    color: #2ac0cc;
    margin-left : 40px;
}

.list-result__empty {
    visibility: hidden;
}

.list-result{
    visibility: visible;
    width: 200px;
    border: 1px solid #2ac0cc;
    border-radius: 20px;
    margin-top: 2rem;
}

.title-result{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.towns-result {
    list-style: none;
    padding: 20px;
  }


.save-button {
    font-weight: bold;
    background-color: #fabb3a;
    width: 140px;
    height: 4vh;
    border: 1px solid #2ac0cc;
    border-radius: 40px;
    margin: 10px 0 10px 30px;
}