.search-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

.search-label{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
}

.search-input{

}